<html>
<body bgcolor="#FFFFFF">
<p align="center"><img src="/img/LOGO2.png" width="400"></p>

<p align="center">Fin del juego!</p>

<h1><font color="red"><%= @winner %></font></h1>
</td>
</tr>
</table>
</body>
</html>
